* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  /* background: url("https://img.freepik.com/premium-photo/glowing-shimmering-stars-space-abstract-background_250994-1378.jpg"); */
  background: #111;
  background-image:
    radial-gradient(2px 2px at 20px 30px, #FFFFFF, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: monospace;
}
/* HP Bars / header */
.player-names {
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  border: 1px solid white;
  z-index: 2;
}

.hp-bars__player, .hp-bars__enemy {
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-container, .enemy-container {
  width: 90%;
}

.player-name,
.enemy-name {
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  margin: 2rem auto 0;
}

.level {
  width: 100%;
}

.hp-bars {
  display: flex;
  justify-content: space-evenly;
}
/* .hp-bars__player,
.hp-bars__enemy {
  width: 100%;
  display: flex;
} */
.total-hp {
  width: 13rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  top: -22.10px;
  left: 0;
  display: inline-block;
  position: relative;
}
/* .ga-logo {
  margin-top: 2rem;
  width: 10rem;
} */

.level {
  margin-top: 2rem;
  width: 20rem;
  border: 8px solid red;
  padding: 5px;
  color: red;
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
}

/* Wills health bars */
#player-health-bar, #enemy-health-bar {
  width: 100%;
  height: 20px;
  appearance: none;
  border: 1px solid #ccc;
}

#player-health-bar::-webkit-progress-bar, #enemy-health-bar::-webkit-progress-bar {
  width: 100%;
}

#player-health-bar::-webkit-progress-value, #enemy-health-bar::-webkit-progress-value {
  width: 100%;
}

#player-health-bar::-webkit-progress-bar {
  background-color: #F2F2F2;
}
#player-health-bar::-webkit-progress-value {
  background-color: limegreen;
}

#enemy-health-bar::-webkit-progress-bar {
  background-color: #F2F2F2;
}

#enemy-health-bar::-webkit-progress-value {
  background-color: red;
}

/* Player Ship/Enemy Ship Styling */
.characters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
.player {
  width: 40rem;
  left: 0;
  animation: shipIdlePlayer 3s infinite;
}
.player-ship {
  position: absolute;
  right: -2rem;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 10rem;
}
.player-attack {
  position: absolute;
  width: 30rem;
  left: 5rem;
  bottom: 14rem;
  z-index: -1;
  animation: playerAttack 3s ease;
}
.enemy {
  width: 40rem;
  margin-bottom: 10rem;
  animation: shipIdleEnemy 3s infinite;
}
.enemy-ship {
  position: absolute;
  left: 0rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.garbage-attack {
  position: absolute;
  width: 10rem;
  left: 5rem;
  bottom: 9.5rem;
  z-index: -1000;
  animation: garbageAttack 12s ease;
}
/* Play Logs */
.play-logs {
  height: 8rem;
  width: 50%;
  margin: 12rem auto 4rem;
  padding: 4rem;
  /* border: 3px solid red; */
  background-color: transparent;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.play-logs__message {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
  /* margin: 2rem; */
  text-transform: uppercase;
}
/* Player move buttons */
.player-move-btn {
  width: 20rem;
  height: 10rem;
  border-radius: 30px;
  font-family: 'Space Grotesk', sans-serif;
  border: none;
  color: white;
  font-size: 3rem;
  transition: 0.5s ease;
  margin-bottom: 19rem;
  margin-left: .4rem;
  /* margin: .1rem; */
}
.player-move-btn:first-of-type {
  background-color: red;
  margin-right: 1rem;
}
.player-move-btn:nth-of-type(2) {
  background-color: rgb(103, 202, 77);
  margin-left: 1rem;
}
.player-move-btn:hover {
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  transition: 0.5s ease;
  transform: scale(1.06);
}
.player-move-btn:first-of-type:hover {
  box-shadow: 0 0 30px red;
  border: 2px solid red;
  color: red;
}
.player-move-btn:nth-of-type(2):hover {
  box-shadow: 0 0 30px rgb(103, 202, 77);
  border: 2px solid rgb(103, 202, 77);
  color: rgb(103, 202, 77);
}
/* ADDED BY WILLY */
@media screen and (max-width: 890px) {
  .player-ship {
    width: 25rem;
    bottom: 5rem;
  }
  .player-attack {
    width: 15rem;
    left: 5rem;
    bottom: 12rem;
  }

  .enemy-ship {
    width: 25rem;
  }

  .garbage-attack {
    width: 7rem;
    left: 9rem;
    bottom: 6rem;
  }
}
@keyframes shipIdlePlayer {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes shipIdleEnemy {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes playerAttack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10000px);
  }
}
@keyframes garbageAttack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10000px);
  }
}